.adventages {
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}
.adventages__heading {
  margin-bottom: 64px;
}
.adventages__list {
  list-style: none;
  padding-left: 0;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 0;
  margin-bottom: 64px;
}

.adventages__item {
  display: flex;
}
