.about {
  background-color: var(--c-light-blue);
}
.about__heading {
  width: 550px;
}
.about__text {
  width: 530px;
}
.about__wrapper {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: right bottom;
}
