.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 41px;
}

.title_small {
  line-height: 31px;
  font-size: 24px;
}

.title_big {
  line-height: 50px;
  font-size: 44px;
}

.title_extra_small {
  font-size: 18px;
  line-height: 27px;
}
